<div class="termial pre" role="main">
<h2 class="margin">Products</h2>
    <section class="margin">
        <div>
            <form>
                <input [formControl]="searchController" matInput type="text">
            </form>
            <button mat-raised-button color="primary" (click)="searchProduct()"> Search </button>
        </div>
    </section>
    <section class="margin">
        <div *ngIf="searchStatus && searchResult.length > 0">
            <div *ngFor="let Product of searchResult">
                    <h1>Name : {{Product.name}}</h1>
                    <h1>Price : {{Product.price}}</h1>
                    <h1>quantity : {{Product.quantity}}</h1>
                    <h1>-------------------------------------</h1>   
            </div>
        </div>
        <div *ngIf="searchStatus && searchResult.length == 0">
            <h3> Nessun risultato! </h3>
          </div>
          <div *ngIf="!searchStatus">
            <h3> C'e' stato un errore, non e' possibile caricare i risultati! </h3>
          </div>
    </section>
</div>